:root{
    --primary-font-color: #7ec999;
    --header-bg-color: #f8f9fa;
    --header-border-gray: #595161;
    --font-light-color: #fff;
    --bg-dark-color: #000;
    --font-dark-color: #000;
    --primary-bg-color: #414856;
    --border-higher-opacity: #00000026;
    --button-bg-blue: #0f69ee;
    --button-bg-red: #f33;
    --button-bg-gray: #474748;
    --p-info-gray: #5e615f; 
    --icon-blue-color: #1577bd;
    --icon-hover-blue-color: #055f9f;
    --bg-white-color: #fff;
    --border-white: #fff;
    --footer-bg-color: #031828;
}